.top {
    color: #DD8888;
    text-decoration: underline;
}
.high {
    color: #eebb88
}
.med {
    color: #DDDD88
}
.low {
    color: #aaFFaa
}
.personal {
    color: #aaFFFF
}
.complete {
    text-decoration: line-through;
    color: grey;
}
@keyframes readytopush {
  0%, 100% { color: #e040fb; }
  50%       { color: #880e4f; }
}

.readytopush {
  animation: readytopush 2s ease-in-out infinite;
}