@keyframes easeInToTop {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes easeInToBottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes easeInToLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes easeOutToRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes blackFade {
  0% {
    background-color: black;
  }
  100% {
    background-color: #131313;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
*::-moz-selection {
  background: #77dd77;
}
*::selection {
  background: #77dd77;
}

html {
  background-color: #131313;
  overflow-x: hidden;
}

nav {
  background: #242424;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  margin-bottom: 0px;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  fill: whitesmoke;
  align-items: center;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  height: 60px;
  transform: translate(0px, 10px);
}
#navbar_logo:hover {
  fill: #c1e1c1;
  transition: all 0.3s ease;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #77dd77;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}
.navbar_links:hover {
  color: #c1e1c1;
  transition: all 0.3s ease;
}

main {
  margin-top: 75px;
  color: whitesmoke;
}
main section {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}
main section h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}
main section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
main section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
main section p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
main section hr {
  border: 3px solid grey;
  margin: 15px 0;
  border-radius: 25px;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    background: #242424;
    margin: 0;
    width: 100%;
    top: 100%;
    left: 1000px;
    position: absolute;
    transition: left 0.5s, opacity 0.5s;
    opacity: 0;
    height: 80vh;
    z-index: -1;
  }
  .navbar_menu.active {
    display: grid;
    background: #242424;
    top: 100%;
    left: 0px;
    opacity: 1;
    position: absolute;
    z-index: 2;
    transition: left 0.5s, opacity 0.5s;
    height: 80vh;
    font-size: 1.6rem;
  }
  #navbar_logo {
    padding-left: 25px;
  }
  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }
  .navbar_item {
    width: 100%;
    padding: 0.1rem;
  }
  .navbar_links {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.blog-image {
  border-radius: 25px;
}

.blog__container {
  grid-template-rows: 0.5fr 1fr;
}

.blog__content {
  text-align: left;
}
.blog__content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.blog__content h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.blog__content hr {
  border: 3px solid grey;
  margin: 15px 0;
  border-radius: 25px;
}
.blog__content a {
  color: #77dd77;
}
.blog__content a:hover {
  color: #c1e1c1;
  transition: all 0.3s ease;
}
.blog__content img {
  border-radius: 25px;
  height: auto;
  border: 3px solid whitesmoke;
  max-width: 75%;
}
.blog__content .blog-image {
  border-style: none;
  max-width: 400px;
}

#back__container {
  padding-top: 20px;
  color: whitesmoke;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 0 5px;
  text-align: center;
}
#back__container span {
  font-size: 1.3em;
  margin-right: 10px;
}
#back__container i {
  padding-left: 5px;
  font-size: 1.5em;
  margin-right: 10px;
}
#back__container a {
  border: 3px solid whitesmoke;
  padding: 5px;
  border-radius: 25px;
  margin-right: 10px;
  text-decoration: none;
  color: whitesmoke;
}
#back__container a:hover {
  border: 3px solid #77dd77;
  color: #c1e1c1;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1000px) {
  .blog__content h1 {
    font-size: 3rem;
  }
  .blog__content h2 {
    font-size: 2rem;
  }
  .blog__content .blog-image {
    max-width: 200px;
  }
  .blog__content img {
    max-width: 100%;
  }
  .blog__content p {
    max-width: 90%;
    font-size: 1.4rem;
  }
  .blog__content hr {
    width: 100%;
  }
  .blog__list {
    color: whitesmoke;
  }
  .blog__list .blog__item {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .blog__list h3 {
    font-size: 1.5rem;
  }
  .blog__list h2 {
    font-size: 2rem;
  }
  .blog__list p {
    font-size: 1rem;
  }
  .blog__list li {
    list-style: none;
  }
  .blog__list li a {
    text-decoration: none;
    color: whitesmoke;
  }
  .blog__list li a:hover {
    color: #c1e1c1;
    transition: all 0.3s ease;
  }
  .blog__list li img {
    width: 200px;
    float: right;
    margin-bottom: 15px;
  }
  .blog__list hr {
    margin-bottom: 15px;
  }
  .main__content .not-found-header, .blog__container .not-found-header {
    font-size: 3rem;
  }
  .main__content .not-found-image, .blog__container .not-found-image {
    max-width: 400px;
  }
  .blog__item {
    max-height: 300px;
  }
}
@media screen and (max-width: 480px) {
  .blog__content p {
    font-size: 1.2rem;
  }
  .main__content .not-found-header, .blog__container .not-found-header {
    font-size: 2rem;
  }
  .main__content .not-found-image, .blog__container .not-found-image {
    max-width: 300px;
  }
  hr {
    width: 50%;
  }
  .blog__item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 150px;
  }
  .blog__item h1 {
    font-size: 1.3rem;
  }
  .blog__item h2 {
    font-size: 1.5rem;
  }
  .blog__item h3 {
    font-size: 1rem;
  }
  .blog__item p {
    font-size: 0.9rem;
  }
  .blog__item div img {
    max-width: 100px;
    float: right;
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=blog.css.map */