@keyframes easeInToTop {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes easeInToBottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes easeOutToBottom {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}
@keyframes easeInToLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes easeOutToRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes blackFade {
  0% {
    background-color: black;
  }
  100% {
    background-color: #131313;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
*::-moz-selection {
  background: #77dd77;
}
*::selection {
  background: #77dd77;
}

html {
  background-color: #131313;
  overflow-x: hidden;
}

#topbar {
  background: #242424;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  margin-bottom: 0px;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  fill: whitesmoke;
  align-items: center;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  height: 60px;
  transform: translate(0px, 10px);
}
#navbar_logo:hover {
  fill: #c1e1c1;
  transition: all 0.3s ease;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #77dd77;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}
.navbar_links:hover {
  color: #c1e1c1;
  transition: all 0.3s ease;
}

.button {
  border: 3px #77dd77 solid;
  border-radius: 25px;
  background: none;
  color: #77dd77;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  color: #c1e1c1;
  border: 3px #c1e1c1 solid;
  transition: all 0.3s ease;
}

#pagination {
  background: #242424;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  position: sticky;
  width: 70%;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 2rem;
  bottom: 1.5rem;
}

.pagination__link {
  color: whitesmoke;
  text-decoration: none;
  padding: 8px;
}

.pagination__link:hover {
  color: #c1e1c1;
  transition: all 0.3s ease;
}

.pagination__link.disabled {
  color: #868484;
}

.pagination__link.active {
  color: #77dd77;
}

.emote {
  width: 30px;
  height: 30px;
}

main {
  margin-top: 75px;
  color: whitesmoke;
}
main section {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}
main section h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}
main section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
main section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
main section p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
main section hr {
  border: 3px solid grey;
  margin: 15px 0;
  border-radius: 25px;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    background: #242424;
    margin: 0;
    width: 100%;
    top: 100%;
    left: 1000px;
    position: absolute;
    transition: left 0.5s, opacity 0.5s;
    opacity: 0;
    height: 80vh;
    z-index: -1;
  }
  .navbar_menu.active {
    display: grid;
    background: #242424;
    top: 100%;
    left: 0px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    transition: left 0.5s, opacity 0.5s;
    height: 80vh;
    font-size: 1.6rem;
  }
  #navbar_logo {
    padding-left: 25px;
  }
  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }
  .navbar_item {
    width: 100%;
    padding: 0.1rem;
  }
  .navbar_links {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #pagination {
    width: 100%;
    bottom: 1.5rem;
  }
  #main_button .emote {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 600px) {
  #pagination {
    height: 60px;
  }
  .pagination__link {
    font-size: 1rem;
    margin: 0px;
    padding: 5px;
  }
}
.blog__list {
  color: whitesmoke;
}
.blog__list .blog__item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 2px solid whitesmoke;
  border-radius: 25px;
  margin: 10px;
  padding: 10px 15px;
  text-align: left;
  transition: all 0.3s ease;
  height: -moz-fit-content;
  height: fit-content;
}
.blog__list .blog__item:hover {
  border: 2px solid #c1e1c1;
  transition: all 0.3s ease;
}
.blog__list h3 {
  font-size: 1.5rem;
}
.blog__list h2 {
  font-size: 2rem;
}
.blog__list p {
  font-size: 1rem;
}
.blog__list li {
  list-style: none;
}
.blog__list li a {
  text-decoration: none;
  color: whitesmoke;
}
.blog__list li a:hover {
  color: #c1e1c1;
  transition: all 0.3s ease;
}
.blog__list li img {
  border-radius: 25px;
  height: auto;
  max-width: 250px;
  max-height: 200px;
  float: right;
  margin-bottom: 15px;
}
.blog__list hr {
  margin-bottom: 15px;
}

@media screen and (max-width: 900px) {
  .blog__list .blog__item {
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: fit-content fit-content;
    min-height: 150px;
  }
  .blog__list .blog__item h1 {
    font-size: 1.3rem;
  }
  .blog__list .blog__item h2 {
    font-size: 1.5rem;
  }
  .blog__list .blog__item h3 {
    font-size: 1rem;
  }
  .blog__list .blog__item p {
    font-size: 0.9rem;
  }
  .blog__list .blog__item div img {
    justify-content: left;
    align-items: left;
    float: left;
  }
}
@media screen and (max-width: 500px) {
  .blog__list {
    color: whitesmoke;
  }
  .blog__list .blog__item {
    height: -moz-fit-content;
    height: fit-content;
  }
  .blog__list h3 {
    font-size: 1.5rem;
  }
  .blog__list h2 {
    font-size: 2rem;
  }
  .blog__list p {
    font-size: 1rem;
  }
  .blog__list li {
    list-style: none;
  }
  .blog__list li a {
    text-decoration: none;
    color: whitesmoke;
  }
  .blog__list li a:hover {
    color: #c1e1c1;
    transition: all 0.3s ease;
  }
  .blog__list li img {
    width: 200px;
    float: right;
    margin-bottom: 15px;
  }
  .blog__list hr {
    margin-bottom: 15px;
  }
}/*# sourceMappingURL=blog-list.css.map */