// * VARIABLES
// * COLORS
$color_1: whitesmoke;
$color_2: #c1e1c1;
$color_3: #77dd77;
$color_4: grey;
$color_5: B7C4AA;
$background-color_1: #131313;
// * FONTS
$font-family_1: "Poppins", sans-serif;

// * Animations
@keyframes easeInToTop {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes easeOutToTop {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(50%);
	}
}

@keyframes easeInToBottom {
	0% {
		opacity: 0;
		transform: translateY(-50%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes easeOutToBottom {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}

	100% {
		opacity: 0;
		transform: translateY(50%);
	}
}

@keyframes easeInToLeft {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes easeInToRight {
	0% {
		opacity: 0;
		transform: translateX(-50%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes easeOutToRight {
	0% {
		opacity: 1;
		transform: translateX(0%);
	}

	100% {
		opacity: 0;
		transform: translateX(50%);
	}
}

@keyframes disappear {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes jump {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes blackFade {
	0% {
		background-color: black;
	}

	100% {
		background-color: $background-color_1;
	}
}

@mixin formatting{
	.astro-code {
        // max-width: 75%;
        border: 2px solid $color_3;
        border-radius: 15px;
        padding: 10px;
        code {
            word-wrap:break-word;
            background: none;
            span{
                font-family: monospace;
            }
        }
    }
    figcaption{
        font-size: 1rem;
        // color: $color_3;
        margin-bottom: 20px;
        font-style: italic;
    }
    code {
        background: rgba(128,128,128,0.5);
        font-family: monospace;
        padding: 0px 4px;
        border-radius: 5px;
    }
    blockquote {
        border-left: 5px solid $color_3;
        background-color: rgba(81, 80, 80, 0.5);
        padding-left: 10px;
        margin-left: 10px;
        color: rgb(203, 203, 203);
        // font-style: italic;
    }
}

@include formatting;

// * MAIN STYLING
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: $font-family_1;

	&::selection {
		color: black;
		background: $color_3;
	}
}
html {
	// background-color: blue;
	background-color: $background-color_1;
	overflow-x: hidden;
}
#topbar {
	background: #242424;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	margin-bottom: 0px;
}

.navbar_container {
	display: flex;
	justify-content: space-between;
	height: 80px;
	z-index: 1;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
}
#navbar_logo {
	fill: $color_1;
	align-items: center;
	cursor: pointer;
	display: flex;
	text-decoration: none;
	height: 60px;
	transform: translate(0px,10px);
	&:hover {
		fill: $color_2;
		transition: all 0.3s ease;
	}
}
.navbar_menu {
	display: flex;
	align-items: center;
	list-style: none;
	text-align: center;
}
.navbar_item {
	height: 80px;
}
.navbar_links {
	color: $color_3;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 0 1rem;
	height: 100%;
	&:hover {
		color: $color_2;
		transition: all 0.3s ease;
	}
}

.button {
	border: 3px $color_3 solid;
	border-radius: 25px;
	background: none;
	color: $color_3;
	padding: 10px 20px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease;
	&:hover {
		color: $color_2;
		border: 3px $color_2 solid;
		transition: all 0.3s ease;
	}
}



#pagination {
	background: #242424;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7rem;
	position: sticky;
	// bottom: -10;
	width: 70%;
	z-index: 2;
	margin-left: auto;
    margin-right: auto;
	// margin-bottom: 10px;
    // padding: 10px;
    border-radius:25px;
	margin-top: 2rem;
	bottom: 1.5rem;
}
.pagination__link {
    color: $color_1;
    text-decoration: none;
    padding: 8px;
}
.pagination__link:hover{
	color:$color_2;
	transition: all 0.3s ease;
}
.pagination__link.disabled{
	color:#868484;
}
.pagination__link.active{
	color:$color_3;
}

.emote{
	width: 30px;
	height: 30px;
}

.link{
	color: $color_3;
	&:hover {
		color: $color_2;
		transition: all 0.3s ease;
	}
}

main {
	margin-top: 75px;
	color: $color_1;

	section {
		display: grid;
		grid-template-rows: auto;
		align-items: center;
		justify-self: center;
		text-align: center;
		margin: 0 auto;
		height: 90vh;
		z-index: 1;
		width: 100%;
		max-width: 1300px;
		padding: 0 50px;

		h1 {
			font-size: 3rem;
			margin-bottom: 15px;
		}

		h2 {
			font-size: 2rem;
			margin-bottom: 15px;
		}

		h3 {
			font-size: 1.5rem;
			margin-bottom: 15px;
		}

		p {
			font-size: 1.2rem;
			margin-bottom: 15px;
		}

		hr {
			border: 3px solid $color_4;
			margin: 15px 0;
			border-radius: 25px;
		}
	}
}

// MOBILE ADJUSTMENTS
@media screen and (max-width: 960px) {
	.navbar_container {
		display: flex;
		justify-content: space-between;
		height: 80px;
		width: 100%;
		max-width: 1300px;
		padding: 0;
	}
	.navbar_menu {
		display: grid;
		grid-template-columns: auto;
		background: #242424;
		margin: 0;
		width: 100%;
		top: 100%;
		left: 1000px;
		position: absolute;
		transition: left 0.5s, opacity 0.5s;
		opacity: 0;
		height: 80vh;
		z-index: -1;
	}
	.navbar_menu.active {
		display: grid;
		background: #242424;
		top: 100%;
		left: 0px;
		opacity: 1;
		position: absolute;
		z-index: 10;
		transition: left 0.5s, opacity 0.5s;
		height: 80vh;
		font-size: 1.6rem;
	}
	#navbar_logo {
		padding-left: 25px;
	}
	.navbar_toggle {
		.bar {
			width: 25px;
			height: 3px;
			margin: 5px auto;
			transition: all 0.3s ease-in-out;
			background: #fff;
			display: block;
			cursor: pointer;
		}
	}
	.navbar_item {
		width: 100%;
		padding: 0.1rem;
	}
	.navbar_links {
		text-align: center;
		font-size: 2rem;
		width: 100%;
		display: table;
	}
	#mobile-menu {
		position: absolute;
		top: 20%;
		right: 5%;
		transform: translate(5%, 20%);
		cursor: pointer;
	}
	#mobile-menu.is-active {
		.bar {
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(1) {
				transform: translateY(8px) rotate(45deg);
			}
			&:nth-child(3) {
				transform: translateY(-8px) rotate(-45deg);
			}
		}
	}
	#pagination {
		width: 100%;
		
		// margin-top: 2rem;
		bottom: 1.5rem;
	}
	// main{
	// 	section{
	// 		padding: 0 25px;
	// 	}
	// }
	#main_button{
		.emote{
			width: 15px;
			height: 15px;
		}
	}
}
@media screen and (max-width: 600px){
	#pagination {
		height: 60px;
	}
	.pagination__link {
		font-size: 1rem;
		margin: 0px;
		padding: 5px;
	}
}