@import "./global.scss";

@keyframes hr {
	0% {
		width: 0%;
	}
	100% {
		width: 75%;
	}
}

@keyframes backgroundFadeIn{
	0% {
		backdrop-filter: blur(5px) brightness(0%);
	}
	100% {
		backdrop-filter: blur(5px) brightness(30%);
	}

}


#mainHTML {
	overflow-x: hidden;
	background-color: black;
	animation: 1s ease-out 0.6s blackFade;
	animation-fill-mode: forwards;
}

#main_title {
    font-size: 7rem;
    animation: 1s ease 0s 1 easeInToTop;
}
#main_subtitle {
    font-size: 3rem;
    opacity: 0;
    animation: 0.5s ease-out 1s 1 easeInToBottom;
    animation-fill-mode: forwards;
}
#main_paragraph {
	margin-top: 25px;
	font-size: 2rem;
	opacity: 0;
	animation: 0.5s ease-out 2s 1 easeInToBottom, 0.5s ease-out 5s 1 easeOutToBottom;;
    animation-fill-mode: forwards;
}

#main_button {
	border: 3px $color_3 solid;
	border-radius: 25px;
	background: none;
	color: $color_3;
	padding: 10px 20px;
	text-decoration: none;
	cursor: pointer;
	font-size: 2em;
	opacity: 0;
	animation: 0.5s ease-out 1.4s 1 appear;
	animation-fill-mode: forwards;
	&:hover {
		color: $color_2;
		border: 3px $color_2 solid;
		transition: all 0.3s ease;
	}
}

.background{
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  max-width: none;
}

.main-background-filter{
	position:relative;

}

.main-background-filter::after{
	content: "";
	display: block;
  position: absolute;
  width: 100%; height: 100%;
  top: 0;
	backdrop-filter: blur(5px) brightness(0%);
	animation: 1s ease-out 0.6s backgroundFadeIn;
	animation-fill-mode: forwards;
}

.non-blurred{
	z-index: 999;
}


.main_links {
	position: relative;
	z-index: 2;
	display: flex;
    margin-bottom: 15px;
	align-items: center;
	list-style: none;
	justify-content: center;
	font-size: 3rem;
	opacity: 0;
	animation: 0.5s ease-out 1.5s 1 easeInToBottom;
	animation-fill-mode: forwards;
	a {
		color: $color_1;
		fill: var(--main-fg-color);
		margin: 0 10px;
		transition: all 0.3s ease;
		text-decoration: none;
		&:hover {
			color: $color_2;
			fill: var(--main-hover-color);
			transition: all 0.3s ease;
			transform: scale(1.5);
			padding: 0 10px;
		}
	}
}

hr {
	border: 3px solid whitesmoke;
	border-radius: 7px 7px 7px 7px;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 0;
	animation: 0.7s ease 0s 1 hr;
	animation-fill-mode: forwards;
}
// hr.active {
	
// }

.align_left {
	text-align: left;
	.content{
		order: 1;
	}
	img{
		order: 2;
		justify-content: end;
		margin-left: auto;
	}
}

.align_right {
	text-align: right;
	img{
		justify-content: start;
		margin-right: auto;
	}
}
.next_section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	.section_image{
		border-radius: 25px;
        height: auto;
        // border: 3px solid $color_1;
		max-width: 75%;
	}
	.content {
		position: relative;
		top: 0;
	}
	h1 {
		// color: $color_2;
		font-size: 10rem;
	}
	h2 {
		// color: $color_2;
		font-size: 5rem;
	}
	h3 {
		// color: $color_2;
		font-size: 3rem;
	}
	h4{
		// color: $color_2;
		font-size: 2rem;
	}
	p{
		font-size: 1.5rem;
	}
	.button{
		font-size: 2rem;
	}
}


@media screen and (max-width: 960px) {
	.background{
		background-attachment: scroll;
	}
	hr{
		width: 0;
	}
	#main_title{
		font-size: 4rem;
	}
	#main_subtitle{
		font-size:2rem;
	}
	#main_paragraph {
		font-size: 1.5rem;
	}
	#main_button{
		font-size: 1em;
	}
	.next_section{
		text-align: center;
		grid-template-columns: none;
		grid-template-rows: 0.3fr 0.3fr;
		// height: 80vh;
		height: fit-content;
		margin: 50px 0;
		.content{
			order: 2;
		}
		.section_image{
			max-width: 40vh;
			margin-top: 15px; 
			align-items: center;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			order: 1;
			width: 75%;
		}
		h2 {
			font-size: 2.5rem;
		
		}
		h3{
			font-size: 2rem;
		
		}
		h4{
			font-size: 1.5rem;
		
		
		}
		p {
			font-size: 1.3rem;
		
		}
		.button {
			font-size: 1rem;
		
		
		}
	}
}
// @media screen and (max-width: 480px) {
// 	hr{
// 		width: 75%;
// 		animation: none;
// 	}
// }
// #topbar {
// 	opacity: 0;
// 	animation: 0.6s ease 1s 1 easeInToBottom;
// 	animation-fill-mode: forwards;
// }