@keyframes easeInToTop {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes easeOutToTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}
@keyframes easeInToBottom {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes easeOutToBottom {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}
@keyframes easeInToLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes easeInToRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes easeOutToRight {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes blackFade {
  0% {
    background-color: black;
  }
  100% {
    background-color: #131313;
  }
}
.astro-code {
  border: 2px solid #77dd77;
  border-radius: 15px;
  padding: 10px;
}
.astro-code code {
  word-wrap: break-word;
  background: none;
}
.astro-code code span {
  font-family: monospace;
}

figcaption {
  font-size: 1rem;
  margin-bottom: 20px;
  font-style: italic;
}

code {
  background: rgba(128, 128, 128, 0.5);
  font-family: monospace;
  padding: 0px 4px;
  border-radius: 5px;
}

blockquote {
  border-left: 5px solid #77dd77;
  background-color: rgba(81, 80, 80, 0.5);
  padding-left: 10px;
  margin-left: 10px;
  color: rgb(203, 203, 203);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
*::-moz-selection {
  color: black;
  background: #77dd77;
}
*::selection {
  color: black;
  background: #77dd77;
}

html {
  background-color: #131313;
  overflow-x: hidden;
}

#topbar {
  background: #242424;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  margin-bottom: 0px;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  fill: whitesmoke;
  align-items: center;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  height: 60px;
  transform: translate(0px, 10px);
}
#navbar_logo:hover {
  fill: #c1e1c1;
  transition: all 0.3s ease;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  color: #77dd77;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}
.navbar_links:hover {
  color: #c1e1c1;
  transition: all 0.3s ease;
}

.button {
  border: 3px #77dd77 solid;
  border-radius: 25px;
  background: none;
  color: #77dd77;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  color: #c1e1c1;
  border: 3px #c1e1c1 solid;
  transition: all 0.3s ease;
}

#pagination {
  background: rgba(36, 36, 36, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  position: sticky;
  width: 70%;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 2rem;
  bottom: 1.5rem;
}

.pagination__link {
  color: whitesmoke;
  text-decoration: none;
  padding: 8px;
}

.pagination__link:hover {
  color: #c1e1c1;
  transition: all 0.3s ease;
}

.pagination__link.disabled {
  color: #868484;
}

.pagination__link.active {
  color: #77dd77;
}

.emote {
  width: 30px;
  height: 30px;
}

.link {
  color: #77dd77;
}
.link:hover {
  color: #c1e1c1;
  transition: all 0.3s ease;
}

main {
  margin-top: 75px;
  color: whitesmoke;
}
main section {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 25px;
}
main section h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}
main section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
main section h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
main section p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}
main section hr {
  border: 3px solid grey;
  margin: 15px 0;
  border-radius: 25px;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    background: #242424;
    margin: 0;
    width: 100%;
    top: 100%;
    left: 1000px;
    position: absolute;
    transition: left 0.5s, opacity 0.5s;
    opacity: 0;
    height: 80vh;
    z-index: -1;
  }
  .navbar_menu.active {
    display: grid;
    background: #242424;
    top: 100%;
    left: 0px;
    opacity: 1;
    position: absolute;
    z-index: 10;
    transition: left 0.5s, opacity 0.5s;
    height: 80vh;
    font-size: 1.6rem;
  }
  #navbar_logo {
    padding-left: 25px;
  }
  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
    display: block;
    cursor: pointer;
  }
  .navbar_item {
    width: 100%;
    padding: 0.1rem;
  }
  .navbar_links {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #pagination {
    width: 100%;
    bottom: 1.5rem;
  }
  #main_button .emote {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 600px) {
  #pagination {
    height: 60px;
  }
  .pagination__link {
    font-size: 1rem;
    margin: 0px;
    padding: 5px;
  }
}
@keyframes hr {
  0% {
    width: 0%;
  }
  100% {
    width: 75%;
  }
}
@keyframes backgroundFadeIn {
  0% {
    -webkit-backdrop-filter: blur(5px) brightness(0%);
            backdrop-filter: blur(5px) brightness(0%);
  }
  100% {
    -webkit-backdrop-filter: blur(5px) brightness(35%);
            backdrop-filter: blur(5px) brightness(35%);
  }
}
#mainHTML {
  overflow-x: hidden;
  background-color: black;
  animation: 1s ease-out 0.6s blackFade;
  animation-fill-mode: forwards;
}

#main_title {
  font-size: 7rem;
  animation: 1s ease 0s 1 easeInToTop;
}

#main_subtitle {
  font-size: 3rem;
  opacity: 0;
  animation: 0.5s ease-out 1s 1 easeInToBottom;
  animation-fill-mode: forwards;
}

.anim1 {
  animation: 0.5s ease-out 1s 1 easeOutToBottom;
  animation-fill-mode: forwards;
}

.anim2 {
  animation: 0.5s ease-out 1.5s 1 easeInToTop;
  animation-fill-mode: forwards;
}

#main_paragraph {
  margin-top: 25px;
  font-size: 2rem;
  opacity: 0;
  animation: 0.5s ease-out 2s 1 easeInToBottom, 0.5s ease-out 5s 1 easeOutToBottom;
  animation-fill-mode: forwards;
}

#main_button {
  border: 3px #77dd77 solid;
  border-radius: 25px;
  background: none;
  color: #77dd77;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
  font-size: 2em;
  opacity: 0;
  animation: 0.5s ease-out 1.4s 1 appear;
  animation-fill-mode: forwards;
  transition: all 0.3s ease;
}
#main_button:hover {
  color: white;
  border: 3px white solid;
  font-size: 2.5em;
  transition: all 0.3s ease;
  background-color: black;
}

#contact_button {
  transition: all 0.3s ease;
}
#contact_button:hover {
  color: #CF9FFF;
  border: 3px #CF9FFF solid;
  font-size: 2.5em;
  transition: all 0.3s ease;
  background-color: black;
}

.warning-banner {
  position: relative;
  z-index: 44;
  background-color: #C65050;
  top: 0px;
  text-align: center;
  padding: 10px;
}

.background {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: none;
}

.background-filter, .main-background-filter {
  position: relative;
}

.background-filter::after, .main-background-filter::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-backdrop-filter: blur(5px) brightness(0%);
          backdrop-filter: blur(5px) brightness(0%);
  animation: 1s ease-out 0.6s backgroundFadeIn;
  animation-fill-mode: forwards;
}

.non-blurred {
  z-index: 999;
}

.main_links {
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  list-style: none;
  justify-content: center;
  font-size: 3rem;
  opacity: 0;
  animation: 0.5s ease-out 1.5s 1 easeInToBottom;
  animation-fill-mode: forwards;
}
.main_links a {
  color: whitesmoke;
  fill: var(--main-fg-color);
  margin: 0 10px;
  transition: all 0.3s ease;
  text-decoration: none;
}
.main_links a:hover {
  color: #c1e1c1;
  fill: var(--main-hover-color);
  transition: all 0.3s ease;
  transform: scale(1.5);
  padding: 0 10px;
}

hr {
  border: 3px solid whitesmoke;
  border-radius: 7px 7px 7px 7px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 0;
}

hr.active {
  animation: 0.7s ease 0s 1 hr;
  animation-fill-mode: forwards;
}

.align_left {
  text-align: left;
}
.align_left .content {
  order: 1;
}
.align_left img {
  order: 2;
  justify-content: end;
  margin-left: auto;
}

.align_right {
  text-align: right;
}
.align_right img {
  justify-content: start;
  margin-right: auto;
}

.next_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.next_section .section_image {
  border-radius: 25px;
  height: auto;
  max-width: 75%;
}
.next_section .content {
  position: relative;
  top: 0;
}
.next_section h1 {
  font-size: 10rem;
}
.next_section h2 {
  font-size: 5rem;
}
.next_section h3 {
  font-size: 3rem;
}
.next_section h4 {
  font-size: 2rem;
}
.next_section p {
  font-size: 1.5rem;
}
.next_section .button {
  font-size: 2rem;
}

.contact_section .section_image {
  border-radius: 25px;
  height: auto;
  max-width: 75%;
}
.contact_section .content {
  position: relative;
  top: 0;
}
.contact_section h1 {
  font-size: 10rem;
}
.contact_section h2 {
  font-size: 5rem;
}
.contact_section h3 {
  font-size: 3rem;
}
.contact_section h4 {
  font-size: 2rem;
}
.contact_section p {
  font-size: 1.5rem;
}
.contact_section .button {
  font-size: 2rem;
}

@media screen and (max-width: 960px) {
  .background {
    background-attachment: scroll;
  }
  hr {
    width: 0;
  }
  #main_title {
    font-size: 4rem;
  }
  #main_subtitle {
    font-size: 2rem;
  }
  #main_paragraph {
    font-size: 1.5rem;
  }
  .next_section {
    text-align: center;
    grid-template-columns: none;
    grid-template-rows: 0.3fr 0.3fr;
    height: -moz-fit-content;
    height: fit-content;
    margin: 50px 0;
  }
  .next_section .content {
    order: 2;
  }
  .next_section .section_image {
    max-width: 40vh;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    order: 1;
    width: 75%;
  }
  .next_section h2 {
    font-size: 2.5rem;
  }
  .next_section h3 {
    font-size: 2rem;
  }
  .next_section h4 {
    font-size: 1.5rem;
  }
  .next_section p {
    font-size: 1.3rem;
  }
  .next_section .button {
    font-size: 1rem;
  }
  .contact_section h2 {
    font-size: 2.5rem;
  }
  .contact_section p {
    font-size: 1.3rem;
  }
  .contact_section .button {
    font-size: 1.5rem;
  }
  #main_button {
    font-size: 1em;
  }
  #main_button:hover {
    font-size: 1.5rem;
  }
  #contact_button {
    font-size: 1em;
  }
  #contact_button:hover {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=index.css.map */