---
import '../styles/about.css';
import Layout from '../layouts/MainLayout.astro';
const currentPath = Astro.url.pathname;
---

<Layout title="About" currentPath={currentPath}>
    <!-- Main Content -->

        <div class="container">
            <div class="content">
                <img src="/assets/profile_picture.PNG">
                <h1 id="main__title">About</h1>
                <h2 id="main__subtitle">Joshua Randall</h2>
                <h3>Computer Science Major<br> Graphic Designer<br> Tech Enthusiast</h3>
                
            </div>
            <div class="paragraph">
                <h4>Last updated: 5/21/24</h4>
                <p>
                    <h3 id="intro">Hi! I'm Josh, and I am <span id="age"></span> years old.</h3>
                    I am an aspiring software engineer + designer. I have started to learn professional languages
                    since 2019-2020, but have had an interest for programming since early high school. I am proficient in
                    Windows, macOS, and Linux systems. I run Arch linux + Windows 11 on my main desktop, and I run an Apple ecosystem
                    for school and software development. I attend Eastern Michigan University, currently studying Computer
                    Science.
                    <br>
                    <br>
                    Besides coding and technology: I drive stick-shift/manual transmission, I like graphic/motion design + video editing (have been using Adobe since 2014),
                    and I have played violin for 6 years before the COVID-19 pandemic. I also play PC and switch games 
                    such as Titanfall 2, Overwatch, and Valorant. Outside of the FPS genre, I play Super Smash Bros. Ultimate, Minecraft, and Cult of the Lamb.
                    <br>
                    <br>
                    Current projects I am working on consists of: this website, discord bots, homelab docker services and management, Arch Linux optimzation + customization, and other side projects for clients.
                </p>
            </div>
        </div>
        <br>
        <br>
        <hr id="divider">
        <br>

            <div class="skills">
                <h1 id="skills__title">Skills</h1>
                <h2 class="category__titles"><a class="fa-solid fa-compact-disc"></a> Operating Systems</h2>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <img src="https://static-00.iconduck.com/assets.00/arch-linux-icon-2048x2048-dt4u7yf0.png">
                        <h2>Arch Linux</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-microsoft"></i>
                        <h2>Windows</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-apple"></i>
                        <h2>macOS</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Rocky_Linux_logo.svg">
                        <h2>Rocky Linux</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn-icons-png.flaticon.com/512/888/888879.png">
                        <h2>Ubuntu</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://static-00.iconduck.com/assets.00/linux-fedora-icon-1024x1024-mhu2qrjp.png">
                        <h2>Fedora</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Manjaro-logo.svg/2048px-Manjaro-logo.svg.png">
                        <h2>Manjaro</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn.icon-icons.com/icons2/2248/PNG/512/gentoo_icon_138537.png">
                        <h2>Gentoo</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://static-00.iconduck.com/assets.00/distributor-logo-linux-mint-icon-512x446-l6do6zt7.png">
                        <h2>Linux Mint</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://static-00.iconduck.com/assets.00/distributor-logo-endeavouros-icon-2048x1707-6lrk99z2.png">
                        <h2>Endeavor</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://freepngimg.com/save/71407-suse-get-started-button-opensuse-mate-linux/1024x1024" alt="">
                        <h2>openSUSE</h2>
                    </div>
                </div>
                <h2 class="category__titles"><a class="fa-solid fa-code"></a> Languages</h2>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <i class="fa-brands fa-python"></i>
                        <h2>Python</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-java"></i>
                        <h2>Java</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-css3-alt"></i>
                        <h2>CSS</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-html5"></i>
                        <h2>HTML</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-square-js"></i>
                        <h2>JavaScript</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-markdown"></i>
                        <h2>Markdown</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn.icon-icons.com/icons2/3911/PNG/512/astro_logo_icon_247543.png">
                        <h2>Astro</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-sass"></i>
                        <h2>SASS/SCSS</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcreazilla-store.fra1.digitaloceanspaces.com%2Ficons%2F3244383%2Fr-icon-md.png&f=1&nofb=1&ipt=a87adb9768a68b58ce8aef34635df1c495eb106634df63b6835fd804db879819&ipo=images">
                        <h2>R</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://static-00.iconduck.com/assets.00/programming-language-c-icon-1926x2048-3r58uty1.png" alt="">
                        <h2>C</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-php"></i>
                        <h2>PHP</h2>
                    </div>
                </div>
    
                <h2 class="category__titles"><a class="fa-solid fa-server"></a> Homelab</h2>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <i class="fa-brands fa-docker"></i>
                        <h2>Docker</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://idroot.us/wp-content/uploads/2018/06/Cockpit-logo.png">
                        <h2>Cockpit</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://f-droid.org/repo/org.jellyfin.mobile/en-US/icon_Y46m-eV538ASL9vG0piH5BI4dC1PHilt0tKyKCVp_F0=.png">
                        <h2>Jellyfin</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/bitwarden_logo_icon_170473.png">
                        <h2>Bitwarden</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/nextcloud_logo_icon_168948.png">
                        <h2>Nextcloud</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-gitlab"></i>
                        <h2>Gitlab</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://nextcord.dev/icon.png">
                        <h2>Nextcord</h2>
                    </div>
                    <div class="skills__item">
                        <img style="filter: grayscale(1) brightness(1)" src="https://static-00.iconduck.com/assets.00/uptime-kuma-icon-512x469-ce3ut52z.png">
                        <h2>Uptime Kuma</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://seeklogo.com/images/W/wireguard-logo-259B3D155A-seeklogo.com.png">
                        <h2>Wireguard</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/sonarr.png">
                        <h2>Sonarr</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic-00.iconduck.com%2Fassets.00%2Fradarr-icon-462x512-bydv4e4f.png&f=1&nofb=1&ipt=b488fec2308e13bd245d814202065038a27d4b5fe4452ce8cafe4aee337793e2&ipo=images">
                        <h2>Radarr</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fab fa-cloudflare"></i>
                        <h2>CloudFlare</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://static-00.iconduck.com/assets.00/tailscale-icon-2048x2046-q4i0rfv1.png" alt="">
                        <h2>Tailscale</h2>
                    </div>
                </div>
                <h2 class="category__titles"><a class="fa-solid fa-computer"></a> Main Desktop</h2>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <i class="fa-solid fa-microchip"></i>
                        <h2>AMD Ryzen 5 2600</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn-icons-png.flaticon.com/512/3716/3716996.png">
                        <h2>NVIDIA RTX 3060 12GB</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn-icons-png.flaticon.com/512/3962/3962832.png">
                        <h2>GIGABYTE B450 AORUS ELITE</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn-icons-png.flaticon.com/512/4529/4529469.png">
                        <h2>2x Samsung 970 EVO</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://images.vexels.com/media/users/3/153161/isolated/preview/138505dfa285ee9c13107adbad9a7a0e-gaming-monitor-stroke-icon.png">
                        <h2>1080p 165hz</h2>                        
                    </div>
                    <div class="skills__item">
                        <i class="fa-solid fa-memory"></i>
                        <h2>32GB 3100hz</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://static-00.iconduck.com/assets.00/arch-linux-icon-2048x2048-dt4u7yf0.png">
                        <h2>Dual-boot Arch</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-microsoft"></i>
                        <h2>Dual-boot Windows</h2>
                    </div>
                </div>
                <h2 class="category__titles"><a class="fa-brands fa-apple"></a> Apple Ecosystem</h2>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <img src="/assets/Apple SVG/iPhone 11 Pro Back.svg">
                        <h2>iPhone 13 Pro</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/Apple SVG/iPad.svg">
                        <h2>iPad 9</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/Apple SVG/Apple Watch Left.svg">
                        <h2>Apple Watch SE 2</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/Apple SVG/MacBook Air.svg">
                        <h2>Macbook Air M1</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/Apple SVG/Apple TV 4K.svg">
                        <h2>Apple TV 4K</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/Apple SVG/AirPods Pro.svg">
                        <h2>AirPods Pro</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/Apple SVG/Beats.svg">
                        <h2>Beats Solo<sup>3</sup></h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://static.thenounproject.com/png/1122334-200.png">
                        <h2>Homepod Mini</h2>
                    </div>
                </div>
    
                <h2 class="category__titles"><a class="fa-solid fa-wand-magic-sparkles"></a> Design</h2>
                <div class="adobe__attribution"><p>Attribution: Adobe icons created by <a href="https://www.flaticon.com/authors/freepik" title="graphic design icons">Freepik</a></p></div>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <img src="/assets/premiere-pro.png">
                        <h2>Premiere Pro</h2>
                    </div>
                    <div class="skills__item" id="After Effects">
                        <img src="/assets/after-effects.png">
                        <h2>After Effects</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/photoshop.png">
                        <h2>Photoshop</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/illustrator.png">
                        <h2>Illustrator</h2>
                    </div>
                </div>

                
            </div>
    <!-- <script src="../scripts/app.js"></script> -->
    <script>
// Get how old I am in years
function diff_years(dt2, dt1) 
{
  // Calculate the difference in milliseconds between the two dates
  var diff = (dt2.getTime() - dt1.getTime()) / 1000;
  // Convert the difference from milliseconds to days
  diff /= (60 * 60 * 24);
  // Calculate the approximate number of years by dividing the difference in days by the average number of days in a year (365.25)
//   return Math.abs(Math.round(diff / 365));
    return Math.abs(Math.trunc(diff/365.25));
}
var currentDate = new Date(); // November 2, 2014
const birthDate = new Date(2003, 2, 4); // March 4, 2003 (month goes from 0-11)

var ageElement = document.getElementById("age");
var age = diff_years(birthDate, currentDate);
ageElement.innerHTML = age.toString();

        // Remove the transition class
const divider = document.querySelector('#divider');
const skills__title = document.querySelector('#skills__title');
const hr = document.querySelectorAll('.skills__divider');
const category__titles = document.querySelectorAll('.category__titles');
const skills__item = document.querySelectorAll('.skills__item');
const attribution = document.querySelector('.adobe__attribution');

// Create the observer, same as before:
const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
    if (entry.isIntersecting) {
        divider.classList.add('active');
        skills__title.classList.add('active');
        hr.forEach((element) => {
            element.classList.add('active');
        })
        category__titles.forEach((element) => {
            element.classList.add('active');
        })
        skills__item.forEach((element) => {
            element.classList.add('active');
        })
        attribution.classList.add('active');
        return;
    }
    });
});

observer.observe(document.querySelector('.skills'));

    </script>
</Layout>
