---
import '../styles/about.css';
import Layout from '../layouts/MainLayout.astro';
---

<Layout title="About">
    <!-- Main Content -->
    <main>

        <div class="container">
            <div class="content">
                <img src="/assets/profile_picture.PNG">
                <h1 id="main__title">About</h1>
                <h2 id="main__subtitle">Joshua Randall</h2>
                <h3>Computer Science Major<br> Graphic Designer<br> Tech Enthusiast</h3>
                
            </div>
            <div class="paragraph">
                <h4>Last updated: 1/3/24</h4>
                <p>
                    I am an aspiring software engineer + designer. I have started to learn professional languages
                    since 2019-2020, but have had an interest for programming since early high school. I am proficient in
                    Windows, macOS, and Linux systems. I run Arch linux + Windows 11 on my main desktop, and I run an Apple ecosystem
                    for school and software development. I attend Eastern Michigan University, currently studying Computer
                    Science.
                    <br>
                    <br>
                    Besides coding and technology: I drive stick-shift/manual transmission, I like graphic/motion design + video editing (have been using Adobe since 2014),
                    and I have played violin for 6 years before the COVID-19 pandemic. I also play PC and switch games 
                    such as Titanfall 2, Overwatch, and Valorant. Outside of the FPS genre, I play Super Smash Bros. Ultimate, Minecraft, and Cult of the Lamb.
                    <br>
                    <br>
                    Current projects I am working on consists of: this website, discord bots, homelab docker services and management, Arch Linux optimzation + customization, and other side projects for clients.
                </p>
            </div>
        </div>
        <br>
        <hr id="divider">
        <br>

            <div class="skills">
                <h1 id="skills__title">Skills</h1>
                <h2 class="category__titles"><a class="fa-solid fa-compact-disc"></a> Operating Systems</h2>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <img src="https://static-00.iconduck.com/assets.00/arch-linux-icon-2048x2048-dt4u7yf0.png">
                        <h2>Arch Linux</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-microsoft"></i>
                        <h2>Windows</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-apple"></i>
                        <h2>macOS</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/Rocky_Linux_logo.svg">
                        <h2>Rocky Linux</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn-icons-png.flaticon.com/512/888/888879.png">
                        <h2>Ubuntu Server</h2>
                    </div>
                </div>
                <h2 class="category__titles"><a class="fa-solid fa-code"></a> Languages</h2>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <i class="fa-brands fa-python"></i>
                        <h2>Python</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-java"></i>
                        <h2>Java</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-css3-alt"></i>
                        <h2>CSS</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-html5"></i>
                        <h2>HTML</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-square-js"></i>
                        <h2>JavaScript</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-markdown"></i>
                        <h2>Markdown</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn.icon-icons.com/icons2/3911/PNG/512/astro_logo_icon_247543.png">
                        <h2>Astro</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-sass"></i>
                        <h2>SASS/SCSS</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-solid fa-robot"></i>
                        <h2>Assembly</h2>
                    </div>
                </div>
    
                <h2 class="category__titles"><a class="fa-solid fa-server"></a> Homelab</h2>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <i class="fa-brands fa-docker"></i>
                        <h2>Docker</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://idroot.us/wp-content/uploads/2018/06/Cockpit-logo.png">
                        <h2>Cockpit</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://f-droid.org/repo/org.jellyfin.mobile/en-US/icon_Y46m-eV538ASL9vG0piH5BI4dC1PHilt0tKyKCVp_F0=.png">
                        <h2>Jellyfin</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cf.appdrag.com/dashboard-openvm-clo-b2d42c/uploads/Vaultwarden-yaX9.png">
                        <h2>Vault- warden</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://cdn.icon-icons.com/icons2/2699/PNG/512/nextcloud_logo_icon_168948.png">
                        <h2>Nextcloud</h2>
                    </div>
                    <div class="skills__item">
                        <i class="fa-brands fa-gitlab"></i>
                        <h2>Gitlab</h2>
                    </div>
                    <div class="skills__item">
                        <img src="https://nextcord.dev/icon.png">
                        <h2>Nextcord</h2>
                    </div>
                </div>
    
                <h2 class="category__titles"><a class="fa-solid fa-wand-magic-sparkles"></a> Design</h2>
                <div class="adobe__attribution"><p>Attribution: Adobe icons created by <a href="https://www.flaticon.com/authors/freepik" title="graphic design icons">Freepik</a></p></div>
                <hr class="skills__divider">
                <div class="skills__category">
                    <div class="skills__item">
                        <img src="/assets/premiere-pro.png">
                        <h2>Premiere Pro</h2>
                    </div>
                    <div class="skills__item" id="After Effects">
                        <img src="/assets/after-effects.png">
                        <h2>After Effects</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/photoshop.png">
                        <h2>Photoshop</h2>
                    </div>
                    <div class="skills__item">
                        <img src="/assets/illustrator.png">
                        <h2>Illustrator</h2>
                    </div>
                </div>
    
                
    
                
            </div>
    <!-- <script src="../scripts/app.js"></script> -->
    <script>
        // Remove the transition class
const divider = document.querySelector('#divider');
const skills__title = document.querySelector('#skills__title');
const hr = document.querySelectorAll('.skills__divider');
const category__titles = document.querySelectorAll('.category__titles');
const skills__item = document.querySelectorAll('.skills__item');
const attribution = document.querySelector('.adobe__attribution');

// Create the observer, same as before:
const observer = new IntersectionObserver(entries => {
    entries.forEach(entry => {
    if (entry.isIntersecting) {
        divider.classList.add('active');
        skills__title.classList.add('active');
        hr.forEach((element) => {
            element.classList.add('active');
        })
        category__titles.forEach((element) => {
            element.classList.add('active');
        })
        skills__item.forEach((element) => {
            element.classList.add('active');
        })
        attribution.classList.add('active');
        return;
    }
    });
});

observer.observe(document.querySelector('.skills'));
    </script>
    </main>
</Layout>
