---
import '../styles/new-index.css';
import Layout from '../layouts/MainLayout.astro';
---
<Layout title="Main">
    <!-- Main Content -->
    <main>
        <section>
            <div class="container">
                <div class="content">
                <h1 id="main_title">Joshua Randall</h1>
                <h2 id="main_subtitle">Computer Science Major</h2>
                <ul class="main_links">
                    <li><a href="https://github.com/joshrandall8478" class="fa-brands fa-github"></a></li>
                    <li><a href="https://www.youtube.com/channel/UCzrgSiEhhs4tcPaZobybY4A" class="fa-brands fa-youtube"></a></li>
                    <li><a href="https://www.instagram.com/joshrandall8478/" class="fa-brands fa-instagram"></a></li>
                    <li><a rel="me" href="https://hachyderm.io/@pursuit" class="fa-brands fa-mastodon"></a></li>
                    </li>
                    <!-- <li><a class="fa-brands fa-discord"></a></li> -->
                </ul>
                <button onclick="window.location.href = '/meloetta';" class="button">New Discord Bot</button>
                <!-- <p id="main__paragraph">Site under construction, check back later ;)</p> -->
            </div>
            </div>
        </section>
        <!-- <div class="next__container">
            <div class="next__content">
                <h1>Test</h1>
            </div>
        </div> -->
    </main>
</Layout>