---
import '../styles/index.scss';
import Layout from '../layouts/MainLayout.astro';
export async function getLatestProject() {
    const allPosts = await Astro.glob('./projects/*.md');
    const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft && !post.frontmatter.unlisted)
    nonDraftPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
    return nonDraftPosts[0];
}
const latestProject = await getLatestProject();
export async function getLatestPost() {
    const allPosts = await Astro.glob('./posts/*.md');
    const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft && !post.frontmatter.unlisted)
    nonDraftPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
    return nonDraftPosts[0];
}
const latestPost = await getLatestPost();
const currentPath = Astro.url.pathname;
import { tools } from '../maps/tools.json';
---
<Layout title="Home" currentPath={currentPath}>
    <!-- Mastodon Verification-->
    <link rel="me" href="https://hachyderm.io/@pursuit"></link>
    <!--<link rel="me" href="https://allthingstech.social/@josh"></link>
    <link rel="me" href="https://urusai.social/@josh"></link> -->
    <link rel="me" href="https://emich.social/@jranda10"></link>
    <link rel="me" href="https://social.joshrandall.net/@josh"></link>
    <link rel="me" href="https://ohai.social/@pursuit"></link>
    <!-- Main Content -->
    <!-- <div class="warning-banner"><h2>JRH is currently in a downtime period from August 22nd until August 24th-25th. <a class=link href="/posts/jrh-downtime"> More information here.</a></h2></div> -->
        <section id="joanne-section" class="background main-background-filter">
            <div class="non-blurred container">
                <div id="joanne__content" class="content">
                    <div class="left-side">

                    </div>
                    <div class="right-side">
                        <div class="joanne__photo">
                            <img src="/assets/joanne/A170F83B-FCDC-467A-95C3-36612EB7FB19.jpeg" alt="Joanne Randall" />
                        </div>
                        <div class="joanne__info">
                            <h1>Joanne Randall</h1>
                            <h3>12/18/1946 - 3/23/2025</h3>
                            <a id="main__button" href="/posts/joanne">Learn More Here</a>
                        </div>

                    </div>
            </div>
            
        </section>
    <script src="../scripts/dynamic-topbar-background.js"></script>
    <script src="../scripts/joanne-background.js"></script>
    <script src="../scripts/subtitle.js"></script>
    <script src="../scripts/contact.js"></script>
    <script src="../scripts/hr.js"></script>
</Layout>