---
import '../styles/meloetta.css';
import Layout from '../layouts/MainLayout.astro';
---
<Layout title="Meloetta">
    <!-- Main Content -->
    <main>
        <section>
            <div class="container">
                <div class="content">
                <h1 id="main_title">Meloetta</h1>
                <h2 id="main_subtitle">A simple Discord music bot</h2>
                <button onclick="window.location.href = 'https://discord.com/api/oauth2/authorize?client_id=922939931729469471&permissions=414501375040&scope=bot';" class="button">Invite</button>
                <p id="main_paragraph">This site is under construction.<br>Please check back again later for a more polished experience.</p>
            </div>
            </div>
        </section>
        <!-- <div class="next__container">
            <div class="next__content">
                <h1>Test</h1>
            </div>
        </div> -->
    </main>
</Layout>